factures
{
	/*color: tomato;*/
}
facture,client,lignes,ligne,destinataire,adr1,adr2{
	display:block;
	border-width:1px;
	border-style:solid;
	border-color:black;
	/*border:1px solid black;*/
}
facture{
	height:287mm;
	width:20cm;
}
client{
/*marges de positionnement du block*/
	margin-top:3cm;
	margin-left:12cm;
	margin-right:1cm;
	margin-bottom:3cm;
/*marges internes*/
	/*padding-top:0.5cm;
	padding-right:0.5cm;
	padding-left:0.5cm;
	padding-bottom:0.5cm;*/
	padding:0.5cm;
}