factures
{
	/*color: tomato;*/
}
facture,client,lignes,ligne,destinataire,adr1,adr2{
	display:block;
	border-width:1px;
	border-style:solid;
	border-color:black;
	/*border:1px solid black;*/
}
facture{
	height:287mm;
	width:20cm;
}
client{
/*marges de positionnement du block*/
	margin-top:3cm;
	margin-left:12cm;
	margin-right:1cm;
	margin-bottom:3cm;
/*marges internes*/
	/*padding-top:0.5cm;
	padding-right:0.5cm;
	padding-left:0.5cm;
	padding-bottom:0.5cm;*/
	padding:0.5cm;
	background-color:skyblue;
	color:tomato;
}
ligne *{
	display:inline-block;
}
ref{
	width:4cm;
	text-align:center;
}
designation{
	width:8cm;
}
phtByUnit, nbUnit, stotligne{
	/* methode avec calcul de taille restante */
	width:calc( calc(100% - 8cm - 4cm - 4%) / 3);
}
/*suppression de l'affichage d'une balise*/
surface{display:none;}